<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls_app/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>index</title>
</head>

<body class="container mt-5">
    {% load static %}
    <a href="company/" class="mt-5 btn btn-primary float-right ml-3">Company Info</a>
    {% if user.is_authenticated %}
    <p class="float-right mt-5" >username-{{ user.username }} <a href="logout/" class=" btn btn-primary ml-3">LogOut</a> </p>
   
    {% endif %}
    {% if latest_question_list %}
    <h1 class="ml-5  mt-5 ">Select for vote</h1>
    {% for question in latest_question_list %}
    <a href="{{question.get_absolute_url}}" class="btn btn-info mt-3">{{ question.question_text }}</a><br>
    {% endfor %}
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</body>

</html>