<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12 col-centered">
            <h1 class="mt-5 mb-3 text-center text-info">Login</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-3 text-center">
            <form method="post" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Login" class="btn btn-outline-primary" />
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
            </form>
            <p class="mt-5">Don't have an account ?&nbsp;<a href="/sign_up/">Create </a> </p>
        </div>
    </div>
    </div>
</body>

</html>