{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light navbar " style="background-color: #701ef4">
  <a class="navbar-brand text-white font-weight-bold ml-3" href="#">SAYONE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo"
    aria-controls="navbarTogglerDemo" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li class="nav-item active">
        <a class="nav-link text-white " href="/sayone/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/sayone/details">Details</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link text-white " href="/sayone/about">About</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-white font-weight-bold " href="/booksystem/booklist/">CRUD</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-white " href="/sayone/pdf">PDF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="{% url 'sayone:sendmail' %}">SendMail</a>
      </li> -->
    </ul>
    {% if user.is_authenticated %}
    <div class="my-2 my-lg-0">
      <a class="nav-link text-white btn btn-dark" href="{%url 'sayone:logout'%}">Logout</a>
    </div>
    {% else %}
    <div class="my-2 my-lg-0">
      <a class="nav-link text-white btn btn-dark " href="{%url 'sayone:login'%}">Login</a>
    </div>
    {% endif %}
  </div>
</nav>
{% endblock %}