{% extends 'base.html' %}
{% block content %}
{% include 'sayone/header.html' %}
<a class="btn btn-dark float-right mt-4 mr-5" href="create/">Add Book</a>
<h1 class="text-center mt-5 text-info font-weight-bold">Available Books</h1>
<div class="row">
    {% for bl in book_list %}
        <div class="card ml-5 shadow-lg mt-5" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title mb-5">Name  -  {{bl.name|upper}}</h5>
              <h5 class="card-title mb-5">Pages  -  {{bl.pages|add:'2'}}</h5>
              <a href='view-book-detail/{{bl.id}}/' class="btn btn-outline-primary btn-sm mt-3 mr-3">View More</a>
              <a href='edit-book-detail/{{bl.id}}/' class="btn btn-outline-primary btn-sm mt-3 mr-3">Edit</a>
              <a href='delete-book-detail/{{bl.id}}/' class="btn btn-outline-primary btn-sm mt-3" >Delete</a>
            </div>
          </div>
          {% endfor %}
    </div>
{% endblock %}